<section class="bg-light w-100 d-flex min-vh-100 p-5">
  <div class="d-flex flex-column w-100 align-items-center m-0" style="margin: 128px 216px 176px; padding: 5rem">
    <h1 class="main-font" style="margin-top: 114px; margin-bottom: 32px; font-size: 3rem">We build digital
      solutions.</h1>

    <div class="spacing-border col-md-1" style="margin-bottom: 40px"></div>

    <p class="main-font text-center" style="color: #4B5563; font-size: 1rem">
      Engineering high-performance applications from concept to deployment. I
      bridge the gap
      between complex backend architectures and seamless frontend experiences to deliver
      end-to-end excellence.</p>
  </div>
</section>
