<section class="bg-hero-waves w-100 d-flex justify-content-center align-items-center py-5 min-vh-100">

  <div class="d-flex flex-column align-items-center text-center w-100">
    <p class="main-font text-ocean ls-wide m-0">DIGISPHERE ENGINEERING</p>

    <div class="w-100 gap-0 " style="margin-top: 0.5rem; margin-bottom: 24px">
      <h1 class="title-font font-bold text-light m-0 " style="font-size: 5rem">Crafting Robust</h1>
      <h1 class="title-font bold text-ocean m-0" style="font-size: 5rem">Full-Stack Solutions</h1>
    </div>

    <div class="spacing-border col-md-2 mb-3" style="margin-bottom: 24px"></div>

    <p class="main-font sm">Full-Stack Developer Specializing in Scalable Web Apps</p>
  </div>

</section>
